<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.nexus6p.removewhitenotificationforbugme">
    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
        android:name="xposeddescription"
        android:value="去除MIUI魅族通知栏白边" />
        <meta-data
        android:name="xposedminversion"
        android:value="82" />
    </application>
</manifest>
